.appointment-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button{
    font-size: 18px;
    font-weight: 600;
    font-family: "Roboto";
    color:rgb(13, 13, 15);
    background-color:transparent;
    border-color: rgb(13, 13, 15);
    height: 30px;
    width: 180px;
}
.form-container{
    height: 80vh;
    width: 80%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.message{
    font-size: 18px;
    font-weight: 600;
    font-family: "Roboto";
    color:rgb(13, 13, 15); 
}